/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --color-white: #ffffff;
  --color-light-gray: #d6e2f0;
  --color-grayish-blue: #7b879d;
  --color-dark-blue: #1f3252;
  --font-family: "Outfit", sans-serif;
}

/* Global */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light-gray);
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
